<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script> // check started
$(function() {
    var j = setInterval(function() {
        $.get("check_started", function(response) {
          console.log(response)
          data = $.parseJSON(response);
          // data = response
          if(data['start'] == true) {
            $("#main").text("Someone pressed the button to start the game!");
          }
          $("#players").text(data['players']);
        });
    }, 1000);
});
</script>
<script>
  $("#start").click(function() {
    $.post("check_started", {}, function() {
      console.log("someone clicked the start button")
    })
  })
</script>
</head>

<body>

<p>Welcome {{name}}!</p>
<p id="main">When everyone has joined, someone (anyone) can start the game.</p>
<p>Current players: <span id="players">Loading...</span></p>

<p id="start"><a href="/answer/{{name}}">Start Game!</a></p>
</body>
</html>
