<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script> // check started
$(function() {
    var j = setInterval(function() {
        $.get("check_started", function(data) {
          if(data['start'] == true) {
            $("#main").text("The game is starting!");
            var pathName = window.location.pathname;
            var name = pathName.substring(pathName.lastIndexOf('/')+1);
            window.location = "/answer/" + name;
          }
          $("#players").text(data['players']);
        });
    }, 1000);
  $("#start").click(function() {
    $.post("check_started", {}, function(res) {
      console.log(res)
      console.log("someone clicked the start button")
    })
  })
});
</script>
</head>

<body>

<p>Welcome {{name}}!</p>
<p id="main">When everyone has joined, someone (anyone) can start the game.</p>
<p>Current players: <span id="players">Loading...</span></p>

<button id="start">Start Game!</button>
</body>
</html>
